.heart-container {
  width: 40px;
  height: 40px;
}

[data-tooltip] {
  position: relative;
}

[data-tooltip]:hover:after {
  content: attr(data-tooltip);
  position: absolute;
  background-color: #333;
  color: #e9ecef;
  padding: 5px;
  width: max-content;
  z-index: 1;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.5s;
}

[data-tooltip]:hover:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #333;
  animation: fadeIn 0.5s;
}

.card:hover {
  .d-none {
    display: flex !important;
    animation: fadeIn 0.5s;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
