<div class="container px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 pb-5">
    <div class="col-12 col-sm-8 col-lg-6 rounded-2">
      <img
        ngSrc="./assets/images/hero.png"
        class="d-block mx-lg-auto img-fluid rounded-2"
        alt="hero image"
        height="300"
        width="600"
        priority
      />
    </div>
    <div class="col-lg-5 col-lg-offset-1">
      <h1 class="display-3 fw-bold lh-1 mb-3">
        Explore, shop,
        <br />
        repeat again.
      </h1>
      <p class="lead">
        Shopping is a bit of a relaxing hobby for me,
        <br />
        which is sometimes troubling.
      </p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button
          type="button"
          class="btn btn-lg fw-bold px-4 me-md-2 color text-white"
        >
          Buy now
        </button>
      </div>
    </div>
  </div>
  <app-products></app-products>
</div>
