<div class="container">
  <header
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom"
  >
    <div class="col-md-3 mb-2 mb-md-0">
      <a routerLink="/home" class="d-inline-flex align-items-center">
        <div>
          <i class="fa-solid fa-cart-shopping pe-2 fa-xl"></i>
          <span class="fw-bold fs-4"> TrendHub </span>
        </div>
      </a>
    </div>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a routerLink="" class="nav-link px-2">About</a></li>
      <li><a routerLink="" class="nav-link px-2">Products</a></li>
      <li><a routerLink="" class="nav-link px-2">Collection</a></li>
      <li><a routerLink="" class="nav-link px-2">New</a></li>
      <li><a routerLink="" class="nav-link px-2">Sales</a></li>
    </ul>

    <div class="col-md-3 text-end">
      <button type="button" class="btn me-2">
        <i class="fa-regular fa-bell"></i>
      </button>
      <button type="button" class="btn me-2">
        <i class="fa-solid fa-cart-shopping"></i>
      </button>
      <button type="button" class="btn">
        <i class="fa-solid fa-bars"></i>
      </button>
    </div>
  </header>
</div>
